/* Font Colors */

$base-font-size:14px;
$base-font-family:'Didact Gothic', sans-serif;
$base-font-color:#333;
$second-font-color:#666;


/* Background Colors */

$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2b5464;

/* Border Colors */
$primary-border:#ddd;
$status-border:#e91e63;


